
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="alert alert-info">
    <p>Welcome</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="far fa-user-circle fa-1x"></i> Students Management</h3>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-info"></i>
                        <h4 class="text-info">Students List</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-user-graduate fa-3x text-info"></i>
                        <h4 class="text-info">New Student</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-info"></i>
                        <h4 class="text-info">Students List</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-info"></i>
                        <h4 class="text-info">Students List</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-user-tie fa-1x"></i> Employees Management</h3>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-primary"></i>
                        <h4 class="text-primary">Employee List</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-user-tie fa-3x text-primary"></i>
                        <h4 class="text-primary">New Employee</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-primary"></i>
                        <h4 class="text-primary">Students List</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-users fa-3x text-primary"></i>
                        <h4 class="text-primary">Students List</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-users fa-1x"></i> Users Management</h3>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-4">
                    <a href="">
                        <i class="fas fa-users fa-3x text-danger"></i>
                        <h4 class="text-danger">Users List</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <i class="fas fa-user-circle fa-3x text-danger"></i>
                        <h4 class="text-danger">New User</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <i class="fas fa-users fa-3x text-danger"></i>
                        <h4 class="text-danger">System Setup</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-info-circle fa-1x"></i> Help and Support</h3>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-3">
                    <a href="">
                        <i class="fab fa-leanpub fa-3x text-warning"></i>
                        <h4 class="text-warning">Knowledgebase</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fas fa-phone-square fa-3x text-success"></i>
                        <h4 class="text-success">Support</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fab fa-youtube fa-3x text-danger"></i>
                        <h4 class="text-danger">YouTube</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <i class="fab fa-facebook-square fa-3x text-info"></i>
                        <h4 class="text-info">Facebook</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


